<header class="site-header">

  <div class="row">

    <div class="column small-8 medium-3 large-3">
      
      <a href="{{ site.baseurl }}/">
        <img class="italki-logo" src="/images/icons/logo.svg" alt="">
      </a>
    </div>

    <label class="off-canvas-toggle"><span data-icon="ei-navicon" data-size="s"></span></label>

    <div class="off-canvas-content">
      <div class="column medium-9 large-9">
        <nav class="site-header__navigation navigation">
          <ul class="list-bare">
            <li>
              <a class="page-link" target="_blank" href="/2020">2020 Recap</a>
            </li>
            {% for page in site.pages %}
              {% unless page.name == '404.md' %}
                {% if page.title %}
                  <li>
                    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                  </li>
                {% endif %}
              {% endunless %}
            {% endfor %}
           
          </ul>
        </nav>
      </div>
    </div>

  </div>

</header>