//---------------------------
// Base
//---------------------------

*,
*:before,
*:after {
  box-sizing: border-box;
}

// ForFade-in effect

html {
  opacity: 1;
  transition: 1s opacity;
}

html.fade-out {
  opacity: 0;
  transition: none;
}

.wrapper {
  // padding: $line-height__medium 0;

  @media #{$large-up} {
    // padding: $line-height__base 0;
    margin-top: double($line-height__base);
  }
}

.hero{
  color: white;
  height: 500px;
  margin-bottom: 72px;
  // background-image: url("/images/hero.jpg");
  background-image:linear-gradient(315deg, rgba(0, 113, 185, 0.72), rgba(0, 191, 189, 0.76)), url("/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $font__sanserif;
}

.hero-title{
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 24px;
  letter-spacing: .75px;
}

.hero-description{
  font-size: 18px;
  letter-spacing: 1px;
}

// Make the footer stick to the bottom if content is small

.off-canvas-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .wrapper {
    flex: 1 0 auto;
  }
}

// Fix Evil Icons vertical align

.icon {
  vertical-align: bottom;
}